@model IEnumerable<KariyerPortali.Admin.ViewModels.SettingViewModel>
@{
    ViewBag.Title = "IndexSeo";
}
<style>
    .theme-option > textarea {
        width: 100%;
    }
</style>
<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("IndexSeo", "Settings")" class="nav-link">Ayarlar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Arama Ayarı</span>
        </li>
    </ul>

</div>
<br />

<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h1 class="page-title">
                    Arama Ayarı
                </h1>

            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="theme-option">
                                    <span>Başlık:</span><br />
                                    <textarea name="Title">@Model.FirstOrDefault(m => m.Name == "Title").Value</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="theme-option">
                                    <span> Tanım:</span><br />
                                    <textarea name="Description">@Model.FirstOrDefault(m => m.Name == "Description").Value</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="theme-option">
                                    <span> Anahtar Kelimeler:</span><br />
                                    <textarea name="Keyword">@Model.FirstOrDefault(m => m.Name == "Keyword").Value</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue" onclick='alert("Ayarlarınız Kaydedildi")'>Kaydet</button>
                            
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}