@model IEnumerable<KariyerPortali.Admin.ViewModels.SettingViewModel>
@{
    ViewBag.Title = "Index";
}
<style>
    .theme-option>textarea{
        width:500px;
    }
</style>
<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Settings")" class="nav-link">Ayarlar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Genel Ayarlar</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered" style="
    width: 442px;">
            <div class="portlet-title">
                <h1 class="page-title">
                    Genel Ayarlar
                </h1>

            </div>
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-group">
                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.SettingId)
                            <div class="form-body">

                                @Html.LabelFor(model => model.Name)
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>*@



                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Kaydet</button>
                            <button type="button" class="btn default" onclick="window.location='@Url.Action("Index","Setting")';">İptal</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet ">
                <div class="theme-panel">

                    
                    <div class="theme-option">
                        <span> Header Script:</span><br />
                        <textarea name="HeaderScript">@Model.FirstOrDefault(m => m.Name == "HeaderScript").Value</textarea>
                    </div>
                    <div class="theme-option">
                        <span> Google Analytics Kodu:</span><br />
                        <textarea name="GoogleAnalytics">@Model.FirstOrDefault(m => m.Name == "GoogleAnalytics").Value</textarea>
                    </div>
                    <div class="theme-option">
                        <span> Footer Script:</span><br />
                        <textarea name="FooterScript">@Model.FirstOrDefault(m => m.Name == "FooterScript").Value</textarea>
                    </div>
                    <div>
                        <button class="submit">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}