@model KariyerPortali.Admin.ViewModels.ResumeViewModel      
 <!-- BEGIN SAMPLE FORM PORTLET-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        table, td, th {
            border:none;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    </style>
<br />
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="/Resume">Özgeçmişler</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Özgeçmiş Detayları</span>
            </li>
        </ul>
        <div class="page-toolbar">

        </div>
    </div>
    <br />
<div class="caption font dark">
    <div class="row">
        <div class="col-md-9">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> ÖZGEÇMİŞ DETAYI </span>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <!--ADAY BİLGİLERİ SIRALANACAK-->
                <div class="row">
                    <br />
                    <div class="col-md-4">
                      
                            <img src="~/Uploads/Candidate/123.jpg" width="175" height="175" />
                        
                    </div>
                    <div class="col-md-8">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <div class="caption-subject bold uppercase">
                                    <h1 class="page-title">
                                        <strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</strong>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">local_phone</i>
                        <span class="caption-subject">İletişim Bilgileri</span>
                    </div>
                </div>



                <div class="form-body" style="font-size:unset">
                    <div class="form-group">
                        <label><strong>E-Posta &ensp; &ensp;&ensp; &ensp;&ensp; &ensp;&thinsp;&ensp; &ensp;&ensp; &ensp;: </strong>@Html.DisplayFor(model => model.Email)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Adres Bilgileri &thinsp;&ensp; &ensp; &ensp; &ensp; : </strong>@Html.DisplayFor(model => model.Address)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Ev Telefonu &thinsp;&ensp; &ensp; &ensp; &ensp; &ensp; &ensp;: </strong>@Html.DisplayFor(model => model.HomePhone)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Cep Telefonu(1) &thinsp;&ensp; &ensp;&ensp;&ensp;: </strong>@Html.DisplayFor(model => model.CellPhone)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Cep Telefonu(2) &thinsp;&ensp; &ensp; &ensp; : </strong>@Html.DisplayFor(model => model.CellPhone2)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Web Adresi &thinsp;&ensp; &ensp; &ensp; &ensp;&ensp;&ensp;&thinsp;&ensp;: </strong>@Html.DisplayFor(model => model.Website) </label>
                    </div>
                </div>
                <br />



                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">person</i>
                        <span class="caption-subject">Kişisel Bilgiler</span>
                    </div>
                </div>




                <div class="form-body">
                    <div class="form-group">
                        <label><strong>Medeni Durumu &ensp; &ensp;&ensp; : </strong>@Html.DisplayFor(model => model.MaritalStatus) </label>
                    </div>
                    <div class="form-group">
                        <label><strong>Uyruk &ensp; &ensp;&ensp;&ensp; &ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; : </strong>@Html.DisplayFor(model => model.Nationality.CountryName)</label>
                    </div>

                    <div class="form-group">
                        <label><strong>TC Kimlik NO &ensp; &ensp;&ensp;&ensp; &ensp;&ensp;: </strong>@Model.CitizenshipId</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Doğum Tarihi &ensp; &ensp;&ensp; &ensp;&ensp; : </strong>@Model.BirthDate.ToShortDateString() </label>
                    </div>
                    <div class="form-group">
                        <label><strong>Doğum Yeri &ensp; &ensp;&ensp;&ensp; &ensp;&ensp;&ensp; : </strong> @Html.DisplayFor(model => model.BirthCity.CityName)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Sürücü Belgesi &ensp; &ensp;&ensp;&ensp;&ensp;: </strong> @Html.DisplayFor(model => model.DrivingLicenseExists)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Sürücü Belgesi Türü&thinsp; : </strong> @Html.DisplayFor(model => model.DrivingLicense1Class)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Askerlik Durumu &ensp; &ensp; : </strong>@Html.DisplayFor(model => model.MilitaryService)</label>
                    </div>
                    <div class="form-group">
                        <label><strong>Askerlik Tecil Tarihi&ensp;: </strong>@Model.MilitaryPostponeDate.ToShortDateString()</label>
                    </div>



                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">info</i>
                        <span class="caption-subject">Özet Bilgi</span>
                    </div>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label> @Html.DisplayFor(model => model.CoverLetter)</label>
                    </div>
                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">work</i>
                        <span class="caption-subject">İş Deneyimleri</span>
                    </div>
                </div>

                <div class="form-body">
                    <div class="form-group">
                        <label><strong>Toplam Tecrübe &ensp; &ensp;&ensp; :</strong></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Çalışma Durumu &ensp; &ensp;&thinsp; :</strong> @Html.DisplayFor(model => model.WorkStatus)</label>
                    </div>
                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">school</i>
                        <span class="caption-subject">Eğitim Bilgileri</span>
                    </div>
                </div>


                <table class="table">

                    <tbody>
                        <tr>
                            @foreach (var educationInfo in Model.EducationInfos) { 
                            <td><strong>Eğitim Durumu &ensp; &ensp;&ensp; : </strong>@educationInfo.EducationStatus</td>
                            <td><strong>@educationInfo.University.UniversityName</strong><br />@educationInfo.Department.DepartmentName<br />@educationInfo.UniversityStart.ToShortDateString() - @educationInfo.UniversityEnd.ToShortDateString()</td>
                            }
                        </tr>

                        <tr>
                            <td><strong>Lise Bilgileri  &ensp; &ensp;&ensp;&ensp;&ensp;&ensp; </strong></td>
                            <td><strong>@Model.HighSchoolName</strong><br />@Model.HighSchoolType.TypeName , @Model.HighSchoolDepartment.DepartmentName<br />@Model.HighSchoolStart.ToShortDateString() - @Model.HighSchoolEnd.ToShortDateString()</td>

                        </tr>
                    </tbody>
                </table>

                <br />

                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">public</i>
                        <span class="caption-subject">Yabancı Dil</span>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Okuma</th>
                            <th>Yazma</th>
                            <th>Konuşma</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var languageInfo in Model.LanguageInfos) {
                            <tr>
                                <td><strong>@languageInfo.Language.LanguageName</strong></td>
                                <td>@languageInfo.ReadingLanguageLevel</td>
                                <td>@languageInfo.WritingLanguageLevel</td>
                                <td>@languageInfo.SpeakingLanguageLevel</td>
                            </tr>
                       
                        }
                    </tbody>
                </table>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">color_lens</i>
                        <span class="caption-subject">Yetkinlikler</span>
                    </div>
                </div>
               
                    <div class="form-body" >
                        <div class="form-group">
                            <label><strong>Bilgisayar Bilgileri &ensp; &ensp;: </strong>@Html.DisplayFor(model => model.ComputerSkill)</label>
                        </div>                                
                   </div>
                    <div class="form-body">
                        <div class="form-group">
                            <label><strong>Sertifika Bilgileri &ensp; &ensp;&thinsp;&ensp;: </strong>@Html.DisplayFor(model => model.Certificate)</label>
                        </div>    
                   </div>
                    <div class="form-body">
                        <div class="form-group">
                            <label><strong>Sınav Bilgileri &ensp; &ensp;&thinsp;&ensp;&ensp;&ensp;&ensp;: </strong></label>
                        </div>    
                       
                    </div>
                   
                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">poll</i>
                        <span class="caption-subject">Seminerler ve Kurslar</span>
                    </div>
                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">library_books</i>
                        <span class="caption-subject">Burslar ve Projeler</span>
                    </div>
                </div>
                <div class="form-group">
                    <label><strong>Projeler&ensp; &ensp;&thinsp;&ensp; &ensp;&ensp; &ensp; &ensp;&ensp;&ensp;&ensp;  :</strong> @Html.DisplayFor(model => model.ScholarshipAndProject)</label>
                </div>

                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">info_outline</i>
                        <span class="caption-subject">Ek Bilgiler</span>
                    </div>
                </div>
                <div class="form-group">
                    <label><strong>Kan Grubu&ensp; &ensp;&thinsp;&ensp; &ensp;&ensp; &ensp; &ensp; :</strong> @Html.DisplayFor(model => model.BloodType)</label>             
                </div>
                <div class="form-group">
                    <label><strong>Hobiler &ensp; &ensp; &ensp; &ensp;&ensp; &ensp;&ensp;&ensp; &ensp;&ensp;:</strong> @Html.DisplayFor(model => model.Hobby)</label>
                </div>
                <div class="form-group">
                    <label><strong>Sigara Kullanımı &ensp; &ensp;&thinsp;&thinsp; :</strong> @Html.DisplayFor(model => model.CigaretteStatus)</label>
                </div>


                <br />
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">account_box</i>
                        <span class="caption-subject">Referanslar</span>
                    </div>
                </div>


            </div>
        </div>

       
              
       
        <div class="col-md-3">
            <!--ÖZGEÇMİŞ İŞLEMLERİ-->
            <div class="btn-group pull-right">
                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                    Özgeçmiş İşlemleri
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-print"></i> Yazdır
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-file-pdf-o"></i> PDF Olarak Farklı Kaydet
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-file-excel-o"></i> E-Posta ile Gönder
                        </a>
                    </li>
                </ul>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="portlet light bordered">
                
                    <div class="form-body">
                        <div class="form-group">
                            <label><strong> Created By : </strong>@Html.DisplayFor(model => model.CreatedBy)</label>
                            <label><strong> Create Date : </strong>@Model.CreateDate.ToShortDateString()</label>
                            <label><strong> Update Date : </strong>@Model.UpdateDate.ToShortDateString()</label>
                            <label><strong> Update By : </strong>@Html.DisplayFor(model => model.UpdatedBy)</label>
                        </div>                                                              
                   </div>             
            </div>
        </div>


    </div>
</div>
       

    