@model KariyerPortali.Admin.ViewModels.JobViewModel
@{
    ViewBag.Title = "Details";
}
<!-- BEGIN SAMPLE FORM PORTLET-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="~/assets/global/css/yazdir.css" media="print">
<style>
    table, td, th {
        border: none;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/Job">İş İlanları</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>İş İlanı Detayları</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<div class="portlet light bordered" id="non_write">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title"><strong>İş İlanı Detayları</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" id="write">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">note</i>
                        <span class="caption-subject"><strong>İş Bilgileri</strong></span>
                    </div>
                    <a href="javascript:void(0)" onclick="window.print();" target="_blank" id="sample_editable_1_new" class=" btn sbold green" style="float:right">
                        <i class="fa fa-print"></i> Yazdır
                    </a>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="portlet-title">

                            <div class="form-group">
                                <label><strong>İş Adı :</strong>@Html.DisplayFor(model => model.Title)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>İş Tanımı :</strong>@Html.DisplayFor(model => model.Description)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>İşveren Adı :</strong>@Html.DisplayFor(model => model.Employer.EmployerName)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Lokasyon :</strong> @Html.DisplayFor(model => model.City.CityName)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Çalışma Şekli :</strong> @Html.DisplayFor(model => model.JobType)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>İş Tecrübesi :</strong> @Html.DisplayFor(model => model.Experience.ExperienceName)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Sorumluluklar :</strong> @Html.DisplayFor(model => model.Responsibilities)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Vasıflar :</strong> @Html.DisplayFor(model => model.Qualifications)</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>