@model KariyerPortali.Admin.ViewModels.FileViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  >
<link rel="stylesheet" href="~/assets/global/css/yazdir.css" media="print">
<style>
    table, td, th {
        border: none;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>


    <div class="page-bar" >
        <ul class="page-breadcrumb" >
            <li>
                <a href="/Media" >Dosyalar</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dosya Detayları</span>
            </li>
        </ul>
        <div class="page-toolbar" >
        </div>
    </div>
    <br />
    <div class="portlet light bordered" id="non_write">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title"><strong>Dosya Detayları</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" id="write">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="material-icons">note</i>

                        <span class="caption-subject"><strong>Dosya Bilgileri</strong></span>
                    </div>

                    <a href="javascript:void(0)" onclick="window.print();" target="_blank" id="sample_editable_1_new" class=" btn sbold green" style="float:right">
                        <i class="fa fa-print"></i> Yazdır
                    </a>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="portlet-title">
                            <div class="form-group">
                                <label><strong>Başlık :</strong>@Html.DisplayFor(model => model.Title)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Açıklama :</strong>@Html.DisplayFor(model => model.Description)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Dosya Adı :</strong>@Html.DisplayFor(model => model.FileName)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Dosya Boyutu :</strong> @Html.DisplayFor(model => model.Size) MB</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Oluşturan Kişi :</strong> @Html.DisplayFor(model => model.CreatedBy)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Oluşturulma Tarihi :</strong> @Html.DisplayFor(model => model.CreateDate)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Güncelleyen Kişi :</strong> @Html.DisplayFor(model => model.UpdatedBy)</label>
                            </div>
                            <div class="form-group">
                                <label><strong>Güncelleme Tarihi :</strong> @Html.DisplayFor(model => model.UpdateDate)</label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



