@model KariyerPortali.Admin.ViewModels.PageFormViewModel
@{
    ViewBag.Title = "Create";
}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN THEME PANEL -->
<!-- END THEME PANEL -->
<!-- BEGIN PAGE BAR -->
<script src="/Scripts/ckeditor/ckeditor.js"></script>
<br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Page")" class="nav-link ">Sayfalar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Yeni Sayfa</span>
        </li>
    </ul>

</div>
<br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title" style="border-bottom-width: 1px;margin-bottom: 10px;">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase ">YENİ SAYFA EKLEME</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            @using (Html.BeginForm("Create", "Page", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
          {
                @Html.AntiForgeryToken()
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @tabindex = "1", @class = "form-control", placeholder = "BAŞLIĞI GİRİNİZ", autofocus = "autofocus", @onblur = "$('#Slug').val(slug($(this).val().toLowerCase(),'-'))" } })
                            @Html.ValidationMessageFor(model => model.Title, " ", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Slug)
                            @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @tabindex = "2", @class = "form-control", placeholder = "KISA ADI GİRİNİZ", autofocus = "autofocus" } })
                            @Html.ValidationMessageFor(model => model.Slug, " ", new { @class = "text-danger" })
                        </div>

                        <div class="form-body">
                            @Html.LabelFor(model => model.Body)


                            <p>
                               
                                @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @tabindex = "3", @cols = "80", @rows = "10", autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                <script>
                                    CKEDITOR.replace('Body');
                                </script>

                            </p>

                            <div id="content2" style="display: none" data-sample="2">
                                <p>The number of <code>change</code> events: <strong><span id="changes"></span></strong>.</p>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div id="pageparentdiv" class="postbox ">

                                    <div class="inside">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ParentPageId)
                                                @Html.DropDownList("ParentPageId", null, new { @tabindex = "4", @class = "form-control", autofocus = "autofocus" })
                                                @Html.ValidationMessageFor(model => model.ParentPageId, "", new { @class = "text-danger" })

                                            </div>

                                        </div>
                                        <div class="col-sm-6">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PageOrder)
                                                @Html.EditorFor(model => model.PageOrder, new { htmlAttributes = new { @tabindex = "5", @class = "form-control", placeholder = "SIRALAMA", autofocus = "autofocus" } })
                                                @Html.ValidationMessageFor(model => model.PageOrder, " ", new { @class = "text-danger" })
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" tabindex="6" class="btn blue">
                                Kaydet
                            </button>
                            <button type="button" tabindex="7" class="btn default" onclick="window.location='@Url.Action("Index","Page")';">
                                İptal
                            </button>

                        </div>
                    </div>
                    
                </div>
                }
            </div>
        </div>
 </div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
